* {
    margin: 0;
    padding: 0;
}

.head {
    background:  linear-gradient(to bottom, #7777fe, #b125f0);
}

.headMobile {
    background:  linear-gradient(to bottom, #7777fe, #b125f0);
    border: none;
    border-radius: 0;
    width: 100%;
    display: none;
    color: white;
    font-size: 2em;
    padding: 10px;
}

.headMobile:active {
    color: white;
}

.headMobile:hover{
    color: white;
}

.menuMobile {
    margin: 0;
    padding: 0;
    width: 100%;
    background:  linear-gradient(to top, #7777fe, #b125f0);
}

.menuMobile>button {
    font-size: 1.5em;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-nav>a {
    font-size: 1.5em;
    color: white;
    padding: 7px;
    text-decoration: none;
    border-radius: 10px;
    width: 100wv;
}

.navbar-nav>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.new {
    margin: 15px;
    border-radius: 10px;
    border: 1px solid #7777fe;
    box-shadow: 0 4px 5px 0 rgba(119, 119, 254, .14);
    transition: border, box-shadow .3s;
}

.new:hover {
    border: 1px solid #b125f0;
    box-shadow: 0 4px 15px 0 rgba(177, 37, 240, .25);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal .modal_content {
    background: linear-gradient(to bottom, #7777fe, #b125f0);
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 550px;
    z-index: 2;
    text-align: center;
}

.modal_content>input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 25px;
    width: 250px;
}

.modal_content>input::placeholder {
    color: white;
}

.modal_content>button {
    background-color: white;
    border: 1px solid #b125f0;
    border-radius: 25px;
    color: black;
    padding: 10px 35px 10px 35px;
}

.modal_content>button:hover {
    background-color: rgb(218, 218, 218);
    color: black;
}

.modal_content>img {
    margin-top: 30px;
    width: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
}

.modal_content>h1 {
    color: white;
    padding: 10px;
}

.prof {
    border-radius: 10px;
    border: 1px solid #7777fe;
    box-shadow: 0 4px 5px 0 rgba(119, 119, 254, .14);
    transition: border, box-shadow .3s;
    text-align: center;
    margin: 15px;
}

.prof>img {
    border-radius: 100%;
    width: 200px;
    margin: 50px;
    border: 1px solid rgb(218, 218, 218);
}

#loginError {
    background-color: rgba(0, 0, 0, 0.336);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.checkBox {
    color: white;
}

.checkBox>input {
    margin-right: 10px;
    transform: scale(1.3);
}

@media (max-width: 450px) {
    .head {
        display: none;
    }

    .headMobile {
        display: block;
    }

    
}

@media (max-width: 351px) {
    .modal .modal_content {
        width: 300px;
    }
    .modal_content>input{
        width: 200px;
    }
}